* {
  padding: 0;
  margin: 0;
}

body {
  background: #e5e5e5;
  font-family: Poppins, "Courier New", Courier, monospace;
  font-size: 14px;
  color: #1a2236;
}

.app {
  padding-top: 78px;
}

.nav {
  background-color: white;
  position: fixed;
  width: 100%;
}

.desk-menu { display: none; }

.nav-section {
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: rgba(96, 112, 255, 1);
  text-decoration: none;
}

.headline {
  background: white url('./assets/header-bg.png');
  background-size: 100% 90%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 120px 24px;
  border-bottom-left-radius: 150px;
}

.headline-primary-title {
  font-weight: 700;
  color: #172b4d;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 12px;
}

.header-primary-details {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
}

.header-connect {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin-bottom: 14px;
}

.social-medials {
  margin: 12px -12px;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.social-medials li a { margin: 0 12px; }

.work-section {
  padding: 114px 24px;
  display: grid;
  grid-template-columns: 100%;
}

.dropdown-menu .icon {
  width: 20px;
  height: 20px;
  margin-right: 30px;
  color: rgba(172, 183, 195, 1);
}

.about-section {
  background: white;
  border-top-right-radius: 100px;
  padding: 114px 24px;
  display: grid;
  grid-template-columns: 100%;
}

.work {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 1px rgb(72, 72, 72);
  padding: 16px;
  margin: 44px 0;
}

.work-image {
  width: 100%;
  margin: 6px 0;
}

.work-title {
  font-weight: 700;
  color: #172b4d;
  font-size: 32px;
  line-height: 44px;
}

.work-details {
  list-style: none;
  display: flex;
  margin: 6px -6px;
}

.work-details li { margin: 6px; }

.work-des {
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.work-langs {
  list-style: none;
  display: flex;
  margin: 6px -6px;
}

.work-langs li {
  padding: 4px 12px;
  margin: 6px;
  background: #ebebff;
  border-radius: 8px;
}

.see-more {
  font-weight: 500;
  margin: 6px 0;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #6070ff;
  color: #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px;
  background: transparent;
}

.about-section .title,
.about-section .details,
.about-section .text-button { margin: 6px 0; }

.about-section .about-text {
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.dropdowns { margin: 46px 0; }

.dropdowns ul { list-style: none; }

.dropdowns ul .list { margin-bottom: 24px; }

.dropdown-menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 23px;
  align-items: center;
}

.lang-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.border-b { border-bottom: 1px solid #dfe1e6; }

.language { margin-top: 36px; }

.lang {
  display: flex;
  padding: 9px 12px;
  background: #f7f7f9;
  align-items: center;
  border-radius: 8px;
  margin: 12px 2px;
}

.lang img { margin-right: 16px; }

.contact-section-bg { background: #fff; }

.contact-section .title {
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-bottom: 12px;
}

.contact-section .details {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-bottom: 21px;
}

.contact-section {
  background: #6070ff url("./assets/contact.png");
  padding: 103px 24px 45px 24px;
  border-top-left-radius: 150px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: right;
  background-size: 50% 90%;
  background-repeat: no-repeat;
}

.form { width: 100%; }

.form .form-field {
  background: #fff;
  border: 1px solid #cfd8dc;
  position: relative;
  padding: 15px 16px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 20px;
}

.form ul {
  list-style: none;
  margin: 0;
}

.form .form-field .input,
.form .form-field .text-area {
  width: 100%;
  border: none;
  font-family: Poppins, "Courier New", Courier, monospace;
  background: transparent;
}

.form .form-field .input:focus,
.form .form-field .text-area:focus {
  outline: none;
}

.form .button {
  background: #fff;
  border-radius: 8px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 12px 16px;
  border: none;
}

button:hover {
  background: #7066f8;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
}

button:active {
  background: #4017cc;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
}

button:disabled {
  border: 1px solid hsl(216, 14%, 79%);
  box-sizing: border-box;
  background: rgb(231, 232, 233) !important;
  box-shadow: none !important;
  border-radius: 8px;
  color: #acb4c4;
  cursor: not-allowed;
}

.disk-br-about { display: none; }

@media (min-width: 992px) {
  .app { padding-top: 70px; }

  .nav-section { padding: 25px 154px; }

  .mobi-menu { display: none; }

  .desk-menu {
    list-style: none;
    display: flex;
  }

  .desk-menu li a {
    padding: 0 32px;
    text-decoration: none;
    color: #344563;
  }

  .headline {
    background: white url('./assets/desktop/header-bg.png');
    background-size: 100% 90%;
    background-position-x: center;
    background-repeat: no-repeat;
    padding: 302px 260px;
    padding-bottom: 255px;
  }

  .headline-primary-title {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .header-primary-details {
    padding: 0 90px 5px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .header-connect {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .work-section { padding: 142px; }

  .work { display: flex; }

  .work-image {
    height: 448px;
    width: 50%;
  }

  .work-discription {
    padding: 46px;
    width: 50%;
  }

  .work-title { margin-bottom: 20px; }

  .work-details { margin-bottom: 32px; }

  .work-des { margin-bottom: 24px; }

  .work-langs { margin-bottom: 32px; }

  .reverse-order { flex-direction: row-reverse; }

  .about-section {
    display: flex;
    padding: 142px;
  }

  .about { width: 40%; }

  .dropdowns {
    width: 60%;
    padding: 37px;
    margin: 0;
  }

  .about .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 12px;
  }

  .disk-br-about {
    display: block;
  }

  .lang-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .langs { display: flex; }

  .lang {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 12px;
    margin: 12px;
  }

  .about .details {
    font-size: 16px;
    line-height: 24px;
  }

  .lang img { padding-bottom: 16px; }

  .about-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .lang p {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .social-medials { margin-bottom: 36px; }

  .contact-section {
    background: #6070ff url("./assets/desktop/contact-bg.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 142px;
    padding-bottom: 142px;
  }

  .contact {
    width: 801px;
    margin: auto;
  }

  .contact .title {
    font-size: 40px;
    line-height: 52px;
  }

  .contact .details {
    width: 569px;
    padding-bottom: 12px;
  }

  .form { width: 447px; }

  .form .text-area {
    resize: none;
  }
}
